<html ng-app="sjpApp">
<head>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <!-- <script src="./local/angular.min.js"></script> -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- <script src="./local/jquery-1.9.1.min.js"></script> -->
	<script src="./controllers.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css" />
  <title>Madrona Jobs Search</title>
  <!-- Great site for creating icon files: http://convertico.org/ -->
  <link rel="shortcut icon" href="images/madrona_logo.ico" type="image/x-icon"/>
  <script>
    /// Google Analytics ///
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-43671451-1', 'madrona-sjp.s3.amazonaws.com');
    ga('send', 'pageview');
  </script>
  <script>
    function toggleRspvCheckbox(elem) {
      var s = elem.getElementsByClassName('rspvCheckbox')[0].style;
      if (s.color === "rgb(221, 221, 221)") {
        s.color = "rgb(0, 0, 0)";
      } else {
        s.color = "rgb(221, 221, 221)";
      }
    }
    
    function toggleOptionsDisplay(elem) {
      var contentDisplay = $(elem).siblings(".optionsBoxContent");
      if (contentDisplay.is(":visible")) {
        contentDisplay.slideUp(500, function() {
          var chev = $(elem).find(".upChevrons");
          chev.removeClass("upChevrons");
          chev.addClass("downChevrons");
        });
      } else {
        contentDisplay.slideDown(500, function() {
          var chev = $(elem).find(".downChevrons");
          chev.removeClass("downChevrons");
          chev.addClass("upChevrons");
        });
      }
    }
    
    $(".optionsBoxLabelText").click(function(evt) { evt.preventDefault(); });
  </script>
</head>
<body class="gradient">
	<div ng-controller="ContentSelectionController" class="contentSelector">
    <div class="searchInputContainer">
      <form ng-submit="searchJobs()" style="display:inline">
        <table>
          <tr>
            <td style="width:100%">
              <input type="text" style="width:100%" ng-model="searchString.text" placeholder="Enter regular expression search string"></input>
              <input type="submit" value="Search" id="inlineSearchButton"></input>
            </td>
            <td style="padding-left: 3px;">
              <input type="submit" id="adjacentSearchButton" value="Search"></input>
            </td>
          </tr>
        </table>
        <div class="optionsBox">
          <div class="optionsBoxLabel" onclick="toggleOptionsDisplay(this);">
            <a class="optionsBoxLabelText">Options <div class="downChevrons"></div></a>
          </div>
          <div class="optionsBoxContent">
            <br />
            <span ng-model="searchString.caseInsensitive"
                 ng-click="searchString.caseInsensitive = !searchString.caseInsensitive"
                  onclick="toggleRspvCheckbox(this);">
              <span class="rspvCheckbox"></span>&nbsp;Case-insensitive
            </span>
            <br />
            <span ng-model="searchString.global"
                 ng-click="searchString.global = !searchString.global"
                  onclick="toggleRspvCheckbox(this);">
              <span class="rspvCheckbox"></span>&nbsp;Global
            </span>
            <br />
            <span ng-model="searchString.multiline"
                 ng-click="searchString.multiline = !searchString.multiline"
                  onclick="toggleRspvCheckbox(this);">
              <span class="rspvCheckbox"></span>&nbsp;Multi-line
            </span>
            <br />
            <span ng-model="searchString.searchTitles"
                 ng-click="searchString.searchTitles = !searchString.searchTitles"
                  onclick="toggleRspvCheckbox(this);">
              <span class="rspvCheckbox"></span>&nbsp;Search Titles
            </span>
            <br />
            <span ng-model="searchString.searchDescriptions"
                 ng-click="searchString.searchDescriptions = !searchString.searchDescriptions"
                  onclick="toggleRspvCheckbox(this);">
              <span class="rspvCheckbox"></span>&nbsp;Search Descriptions
            </span>
            <br />
            <br />
          </div>
        </div>
      </form>
      <i>
        For info on regular expressions, see
        <a href="http://www.w3schools.com/jsref/jsref_obj_regexp.asp">this reference</a>
      </i>
    </div>
    <br />
    <input type="button" ng-click="toggleAllCompanyJobListViews()" value="{{ { true: 'Expand All', false: 'Collapse All' }[toggleAllCausesExpansion] }}"></input>
		<ul>
			<li ng-repeat="company in companies" ng-show="company.visible">
				<a href="javascript:void(0)" ng-click="toggleJobListView(company)">
					{{ company.name }}
				</a>
				<ul ng-show="company.expanded">
					<li ng-repeat="job in company.jobs" ng-show="job.visible">
						<a ng-href="javascript:void(0);" ng-click="selectJd($parent.$index, $index)">
							{{ job.Title }}
						</a>
					</li>
				</ul>
			</li>
		</ul>
    <br />
	</div>
	<div ng-controller="ContentDisplayController" class="contentDisplay">
		<h1>{{ company }}</h1>
		<h2>{{ title }}</h2>
		<a ng-href="{{ sourceUri }}">Link to Original</a><br /><br />
		<div ng-bind-html-unsafe="fullHtmlDescription"></div><br />
    <br />
	</div>
  <div class="footer">
    &#169; 2013 Madrona Venture Group, LLC. 206-674-3000. <a href="mailto:information@madrona.com">information@madrona.com</a>.
  </div>
</body>
</html>
