<!DOCTYPE html>
<html ng-app="sjpApp">
<head>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <!-- <script src="./local/angular.min.js"></script> -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- <script src="./local/jquery-1.9.1.min.js"></script> -->
  <script src="./booleanSearch.js"></script>
  <script src="./controllers.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <title>Madrona Jobs Search</title>
  <!-- Great site for creating icon files: http://convertico.org/ -->
  <link rel="shortcut icon" href="images/madrona_logo.ico" type="image/x-icon"/>
  <script>
    /// Google Analytics ///
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-43671451-1', 'madrona-sjp.s3.amazonaws.com');
    ga('send', 'pageview');
  </script>
  <script>
    function toggleRspvCheckbox(elem) {
      var s = elem.getElementsByClassName('rspvCheckbox')[0].style;
      if (s.color === "rgb(221, 221, 221)") {
        s.color = "rgb(0, 0, 0)";
      } else {
        s.color = "rgb(221, 221, 221)";
      }
    }
    
    function toggleOptionsDisplay(elem) {
      var contentDisplay = $(elem).siblings(".optionsBoxContent");
      if (contentDisplay.is(":visible")) {
        contentDisplay.slideUp(500, function() {
          var chev = $(elem).find(".upChevrons");
          chev.removeClass("upChevrons");
          chev.addClass("downChevrons");
        });
      } else {
        contentDisplay.slideDown(500, function() {
          var chev = $(elem).find(".downChevrons");
          chev.removeClass("downChevrons");
          chev.addClass("upChevrons");
        });
      }
    }
  </script>
</head>
<body class="gradient">
  <div class="contentHeader">
    <div class="contentHeaderImage"></div>
  </div>
  <div class="contentBody">
    <div ng-controller="ContentSelectionController" class="contentSelector">
      <div class="header">
        <div style="background-image:url('images/madrona_logo_81x81.png');"></div>
      </div>
      <div class="searchInputContainer">
        <form ng-submit="searchJobs()" style="display:inline">
          <table>
            <tr>
              <td style="width:100%">
                <input type="text" style="width:100%" ng-model="searchString.text" placeholder="Enter search string"></input>
              </td>
              <td style="padding-left: 3px;">
                <input type="submit" id="adjacentSearchButton" value="Search"></input>
              </td>
            </tr>
          </table>
          <div class="optionsBox">
            <div class="optionsBoxLabel" onclick="toggleOptionsDisplay(this);">
              <a href="javascript:void(0)">
                Options <div class="downChevrons"></div>
              </a>
            </div>
            <div class="optionsBoxContent">
              <br />
              <span ng-model="searchString.searchTitles"
                   ng-click="searchString.searchTitles = !searchString.searchTitles"
                    onclick="toggleRspvCheckbox(this);">
                <span class="rspvCheckbox"></span>&nbsp;Search Titles
              </span>
              <br />
              <span ng-model="searchString.searchDescriptions"
                   ng-click="searchString.searchDescriptions = !searchString.searchDescriptions"
                    onclick="toggleRspvCheckbox(this);">
                <span class="rspvCheckbox"></span>&nbsp;Search Descriptions
              </span>
              <br />
							<br />
							<i>The syntax for searching allows the use of keywords "AND" and "OR" 
							for logical expression and "(" and ")" for grouping terms.
							Because "AND" is the default operator, you do not need to explicitly 
							use it. You can also use "|" as a pseudonym for "OR".</i>
							<br />
							<br />
            </div>
          </div>
          <input type="submit" value="Search" id="inlineSearchButton"></input>
        </form>
      </div>
      <br />
      <input type="button" ng-click="toggleAllCompanyJobListViews()" value="{{ { true: 'Expand All', false: 'Collapse All' }[toggleAllCausesExpansion] }}"></input>
      <ul>
        <li ng-repeat="company in companies" ng-show="company.visible">
          <a href="javascript:void(0)" ng-click="toggleJobListView(company)">
            {{ company.name }}
          </a>
          <ul ng-show="company.expanded">
            <li ng-repeat="job in company.jobs" ng-show="job.visible">
              <a href="javascript:void(0);" ng-click="selectJd($parent.$index, $index)">
                {{ job.Title }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <br />
    </div>
  </div>
  <div ng-controller="ContentDisplayController" class="contentDisplay">
    <h1>{{ company }}</h1>
    <h2>{{ title }}</h2>
		<i>Job Location: {{ location }}</i><br />
		<br />
    <a ng-href="{{ sourceUri }}" target="_blank">Learn more at {{ company }}'s website</a><br />
		<br />
		<hr />
    <div ng-bind-html-unsafe="fullHtmlDescription"></div><br />
    <br />
  </div>
  <div class="footer">
    &#169; 2013 Madrona Venture Group, LLC. 206-674-3000. <a href="mailto:information@madrona.com">information@madrona.com</a>.
  </div>
</body>
</html>
