.gradient {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#F9FDFF', endColorstr = '#i75D6FF');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#F9FDFF', endColorstr = '#75D6FF')";
	background-image: -moz-linear-gradient(left, #F9FDFF, #75D6FF);
	background-image: -ms-linear-gradient(left, #F9FDFF, #75D6FF);
	background-image: -o-linear-gradient(left, #F9FDFF, #75D6FF);
	background-image: -webkit-linear-gradient(left, #F9FDFF, #75D6FF);
	background-image: linear-gradient(left, #F9FDFF, #75D6FF);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

html {
	font: 400% arial, sans-serif;
	min-height: 100%;
	min-width: 100%;
	overflow-y: visible;
}

div.searchInputContainer {
	width: 100%;
	margin-right: auto;
	border-collapse: collapse;
	font-size: inherit;
}

table {
	font-size: inherit;
	border-collapse: collapse;
	border-spacing: 0;
}

input {
	font-size: inherit;
}

#inlineSearchButton {
	display: block;
	width: 100%;
}

#adjacentSearchButton {
	display: none;
}

.optionsBox {
	margin: 0, auto;
	border: 1px solid rgb(0, 0, 0);
	border: 1px solid rgba(0, 0, 0, 0.5);
	padding: 5px;
	background-color: rgb(230, 240, 255);
	background-color: rgba(150, 150, 150, 0.1);
}

.optionsBoxLabel {
	text-align: center;
}

.optionsBoxLabel a:link, .optionsBoxLabel a:visited {
	text-decoration: none;
}

.optionsBoxContent {
	display: none;
}

.rspvCheckbox {
    background-color: #dddddd;
    border: solid 1px #000000;
    display: inline-block;
    line-height: 1em;
    height:0.8em;
    width:0.8em;
    font-size: 75%;
}

.rspvCheckbox:before {
	content: "\2714";
}

.downChevrons {
	display:inline-block;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.upChevrons {
	display:inline-block;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.downChevrons:before, .upChevrons:before {
	content: "\00bb";
}

div.contentSelector {
	width: 100%;
	float: none;
}

div.contentDisplay {
	width: 100%;
	float: none;
}

div.footer {
	width: 100%;
	position: static;
	bottom: 0px;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.7);
	text-align: center;
}

.highlighted {
	background-color: #ffff00;
}

@media all and (min-device-width: 600px) and (min-width: 600px) {
	html {
		font-size: 100%;
		overflow-y: scroll;
	}

	div.searchInputContainer {
		width: 80%;
	}

	#inlineSearchButton {
		display: none;
	}

	#adjacentSearchButton {
		display: block;
	}

	div.contentSelector {
		width: 50%;
		float: left;
	}

	div.contentDisplay {
		width: 50%;
		float: left;
	}

	div.footer {
		position: fixed;
	}
}

